body {
    background-color: black; 
    color:white;
    text-align: center
}
.cell {
    width:40px; 
    height:40px;
    text-align: center
}
.cell img {
    width:25px; 
    height:auto
}
.floor {
    background-color: gray
}
.wall {
    background-color: brown
}
.victory {
    display: none;
    padding-bottom: 20px;
    color: rgb(202, 186, 39);
}
table {
    display: grid;
    justify-content: space-evenly;
}


